.cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
    transition: scale 0.3s ease, background-color 0.3s ease;
}

.dot {
    position: fixed;
    top: 0;
    left: 0;
    width: 6px;
    height: 6px;
    background-color: var(--color-primary);
    border-radius: 50%;
    pointer-events: none;
    z-index: 10000;
}

@media (max-width: 768px) {

    .cursor,
    .dot {
        display: none;
    }
}